body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 58px;
  margin: 200px 0;
}

h2 {
  text-transform: uppercase;
}

header {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../img/detox cure smoothie.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 70px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 30px;
}

#devise {
  display: flex;
  padding: 40px 15px;
}

#devise img {
  width: 300px;
}

#devise .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

#methode {
  background: linear-gradient(#FEB4C3, #F59E28);
  color: white;
}

#methode h2 {
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0;
}

#methode .container ul li {
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

#methode .container ul li:first-of-type {
  padding-top: 0px;
}

#methode .container ul li:last-of-type {
  padding-bottom: 75px;
}

#methode .container ul li img {
  width: 60px;
}

#concept ul {
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}

#concept ul li {
  text-align: center;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

#concept ul li:first-of-type {
  padding-right: 20px;
}

#concept ul li:last-of-type {
  padding-left: 20px;
}

footer {
  background-color: #F59E28;
}

footer .container p {
  margin-bottom: 0;
  padding: 20px 0;
  color: white;
  text-align: center;
}

@media (max-width: 767px) {
  #devise {
    flex-direction: column;
    align-items: center;
  }
  #devise img {
    width: 200px;
  }
  #devise .text {
    padding-left: 0px;
  }
  #devise .text p {
    text-align: center;
  }
  #concept ul {
    flex-direction: column;
  }
  #concept ul li:first-of-type {
    padding-right: 0px;
  }
  #concept ul li:last-of-type {
    padding-left: 0px;
  }
}
